body{
  margin: 0;
  font-family: serif;
  font-weight: bolder;
}
.banner {
  width: 100%;
  height: 250px;
  background-color: #f2f2f2;
  margin: 75px auto 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome {
  font-size: 30px;
  font-weight: bold;
}
.slogan {
  font-size: 20px;
  letter-spacing: 2px;
}
.banner i {
  font-style: normal;
  top: 2.5rem;
  position: relative;
  animation: swift-up 1.5s ease-in-out forwards;
}
span {
  display: inline-block;
  overflow: hidden;
}
span:nth-of-type(1) i {
  animation-delay: 1s;
}
span:nth-of-type(2) i {
  animation-delay: 1.2s;
}
span:nth-of-type(3) i {
  animation-delay: 1.4s;
}
span:nth-of-type(4) i {
  animation-delay: 1.6s;
}
@keyframes swift-up {
  to {
    top: 0rem;
  }
}
.showcase {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.showcase a {
  flex-basis: 50%;
  text-align: center;
  margin: 0 10px;
  display: block;
  text-decoration: none;
  color: black;
}
.showcase img {
  width: 100%;
  height: auto;
  margin: 30px auto;
  transition: transform 0.3s ease;
  display: block;
}
.description {
  margin: 20px auto;
  font-size: 20px;
  transition: color 0.2s ease;
}
.showcase a:hover img {
  transform: scale(1.05);
}
.showcase a:hover .description {
  color: #c7a743;
}
