body{
    font-family: serif;
    font-weight: bolder;
}
button{
    font-family: inherit;
}
.title {
  text-align: center;
  font-size: 33px;
  color: #c7a743;
  margin: 10px auto;
}

/*Price Section*/
#price_sec{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  min-width: 100px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.thead-inverse th { /* Styling for table headers */
  background-color: #737266;
  color: white;
  text-align: center;
  padding: 12px 15px;
}
.table tbody tr { /* Styling for table rows */
  text-align: center;
  border-bottom: 1px solid #dddddd;
}
.table tbody tr:nth-of-type(even) {/* Styling for table body cells */
  background-color: #f3f3f3;
}
.table tbody td {
  padding: 12px 15px;
}
.input {
    text-align: center;
}
h3 {
    font-weight: normal;
    font-size: 17px;
}
#LeafAmount {
  font-family: serif;
  font-size: 17px;
  width: 80px;
  margin: 0 15px;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 5px;
  
}
.btn-info {
  font-size: 17px;
  padding: 4px 15px;
  border: none;
  cursor: pointer;
  background-color: #c7a743;
  text-align: center;
  border-radius: 3px;
  color: white;
}
.btn-info:hover {
  background-color: #b5983c;
}

/*Product Section*/
#product_sec{
    width: 80%;
    margin: 100px auto;
}
.product_lis{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 0px;
}
.card{
    height: 100%;
    width: auto;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0,.12);
}
.img{
    height: 150px;
}
.img img{
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.info{
    margin: 10px 10px -25px 10px;
}
.tt a{
    font-size: 16px;
    text-decoration: none;
    line-height: 24px;
    color: black;
    font-weight: bold;
    letter-spacing: .05rem;
}

.tt a:hover{
    color: #b5983c;
}
.price{
    margin: 10px 0px 15px 0px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .05rem;
}

/*Portfolio Section*/
#protfolio_sec{
    background-color: #f9f5e9;
    margin: 0 auto;
    margin-top: 70px;
    padding-top: 20px;
    padding-bottom: 75px;
}

.portfolio-wrapper {
    display: flex;
    justify-content: center;
}

.all-portfolios {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.portfolio-filter ul {
    list-style-type: none;
    color: #737266;
    font-size: 15px;
    text-align: center;
    padding: 0;
    margin: 15px 0;
}

.portfolio-filter li {
    display: inline-block;
    margin: 10px 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #737266;
    transition: all 0.3s;
}

.portfolio-filter li.active {
    background-color: #737266;
    border: 1px solid #737266;
    color: #fff;
}

.single-portfolio {
    margin-bottom: 20px;
}

.single-portfolio img.fixsize {
    width: 150px;
    height: 150px;
    margin: 10px;
}

@media (max-width: 768px) {
    #product_sec{
        width: 95%;
    }
    .product_lis {
        grid-template-columns: repeat(2, 1fr);
    }
    .all-portfolios{
        grid-template-columns: repeat(3, 1fr);
    }
    .single-portfolio img.fixsize {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
    }
}

