body{
    font-family: serif;
}
button{
    font-family: inherit;
}
.content{
    width: 75%;
    margin: 100px auto 50px auto;
}
.item_header, .item_body{
    display: flex;
    background-color: #F5F5F5;
    border-radius: 3px;
    margin-top: 15px;
    align-items: center;    
}
.item_header div, .item_body div, .item_body button {
    text-align: center;
    flex: 1;
    margin: 10px;
}
#btn {
    background-color: #c7a743;
    color: white; 
    border: none;
    padding: 10px 0;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
}
#btn:hover {
  background-color: #b5983c;
  color: white;
  transition-duration: 0.3s;
}

@media (max-width: 768px) {
    .item_header {
        display: none;
    }

    .item_body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid #ddd;
        padding-right: 20px;
        margin-top: 10px;
        background-color: #F5F5F5;
    }

    .trade_no, .date, .amount, .state{
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    .trade_no::before, .date::before, .amount::before, .state::before {
        content: attr(data-label);
        font-weight: bold;
    }

    #btn {
        width: 100%;
    }
}

.pagination {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
    font-size: 20px;
    border: 1px solid #A9A9A9;
    border-radius: 4px;
}

.pagination a, .pagination span {
    padding: 8px 16px;
    color: #696969;
}

.pagination li.active{
    border: 1px solid #b5983c;
    background-color: #b5983c;
}

.active span{
    color: white;
}

.pagination li.disabled{
    border: 1px solid   #DCDCDC;
}

.disabled span{
    color:  #DCDCDC;
}
