body{
  margin: 0;
}
.title{
  font-size: 18px;
  font-weight: bold;
}
.content{
    width: 70%;
    margin: 100px auto 50px auto;
    font-weight: normal;
}
.btn{
    border: 1px solid #000;
    background-color: #fff;
    margin: 0 5px;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: #F0F0F0;
}