#product_sec{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}
.product_lis{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px 0px;
}
@media (max-width: 768px) {
    #product_sec{
        width: 95%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .product_lis {
        grid-template-columns: repeat(2, 1fr);
    }
}
.card{
    height: 100%;
    width: auto;
    margin: 10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0,.12);
}
.card-link:hover .card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, .5);
}
.img{
    height: 150px;
}
.img img{
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.info{
    margin: 10px 10px -25px 10px;
}
.tt a{
    font-size: 16px;
    text-decoration: none;
    line-height: 24px;
    color: black;
    font-weight: bold;
    letter-spacing: .05rem;
}

.tt a:hover{
    color: #c7a743;
}
.price{
    margin: 10px 0px 15px 0px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .05rem;
}